<div class="register">
    <div class="register-background">
        <div class="container">
            <div class="card card_container">
                <div class="card_photo">
                    <form class="form-group" [formGroup]='registrationForm'
                        (ngSubmit)='onregisterSubmit(registrationForm)'>
                        <div class="row justify-content-center no-gutters">
                            <div class="signup-wrapper">
                                <div class="col-md-6 p-0">
                                    <div class="row-inputs">
                                        <div class="form-design align-items-center">
                                            <div class="header-signUp text-center">
                                                <h3>Sign Up</h3>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <input type="text" class="form-control input100" id="userName"
                                                    formControlName='name' placeholder="enter your name " id="uname">
                                                <div *ngIf='registrationForm.controls.name.hasError("pattern")&&registrationForm.controls.name.touched'
                                                    class="alert alert-danger" role="alert">
                                                    *must contain 6 carchter between a-z 0-9
                                                </div>
                                                <div *ngIf='registrationForm.controls.name.hasError("required")&&registrationForm.controls.name.touched'
                                                    class="alert alert-danger" role="alert">
                                                    *confirm password is required
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <input type="text" class="form-control input100" formControlName='email'
                                                    placeholder="enter your email ">
                                                <div *ngIf='registrationForm.controls.email.hasError("pattern")&&registrationForm.controls.email.touched'
                                                    class="alert alert-danger" role="alert">
                                                    *the email should be ex : dsa@gmail.com
                                                </div>
                                                <div *ngIf='registrationForm.controls.email.hasError("required")&&registrationForm.controls.email.touched'
                                                    class="alert alert-danger" role="alert">
                                                    confirm password is required
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <input [type]="hiden? 'password':'text'" class="form-control input100"
                                                    formControlName='password' placeholder="enter your password">
                                                    <div (click)='hidden()' class="hidePassword">
                                                        <ng-container *ngIf='hiden;else unhide'>
                                                            <i class="fas fa-eye"></i>
                                                        </ng-container>
                                                        <ng-template #unhide>
                                                            <i class="fas fa-eye-slash"></i>
                                                        </ng-template>
                                                    </div>
                                                <div *ngIf='registrationForm.controls.password.hasError("pattern")&&registrationForm.controls.password.touched'
                                                    class="alert alert-danger" role="alert">
                                                    the password should contain ex :a-z,A-Z,0-9
                                                </div>
                                                <div *ngIf='registrationForm.controls.password.hasError("required")&&registrationForm.controls.password.touched'
                                                    class="alert alert-danger" role="alert">
                                                    confirm password is required
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <input [type]="hidenConfirm? 'password':'text'" class="form-control hideConfirm input100"
                                                    formControlName='confirmPassword'
                                                    placeholder="confirm your password ">
                                                    <div (click)='hide()' class="hideConPassword">
                                                        <ng-container *ngIf='hidenConfirm;else unhiden'>
                                                            <i class="fas fa-eye"></i>
                                                        </ng-container>
                                                        <ng-template #unhiden>
                                                            <i class="fas fa-eye-slash"></i>
                                                        </ng-template>
                                                    </div>
                                                <div *ngIf='registrationForm.controls.confirmPassword.hasError("match")&&registrationForm.controls.confirmPassword.touched'
                                                    class="alert alert-danger" role="alert">
                                                    password dosen't match
                                                </div>

                                                <div *ngIf='registrationForm.controls.confirmPassword.hasError("required")&&registrationForm.controls.confirmPassword.touched'
                                                    class="alert alert-danger" role="alert">
                                                    confirm password is required
                                                </div>
                                                <div class="check-wapper">
                                                
                                                    <div class="haveAccount">
                                                        <a routerLink="/signin" type="submit">I have an account</a>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-primary"
                                                    [disabled]="!registrationForm.valid">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 imgBackGround">
                                    <div class="img-wrapper">
                                        <img src="https://image.freepik.com/free-vector/people-stroll-with-pets-vector-illustration_82574-8739.jpg"
                                            alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>