<footer class="section-footer">
    <div class="container">
        <div class="row ">
            <div class="col-md-3">
                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="#">
                        <img src="../../assets/img/footer-logo-1.png" class="d-inline-block align-top" alt="">
                    </a>
                </nav>
            </div>
            <div class="col-md-3">
                 <ul class="list-group items">
                     <h6>OUR SERVICES</h6>
                        <a routerLink="/ourServices"><li class="list-group-item">Full Grooming</li></a>
                        <a routerLink="/ourServices"><li class="list-group-item">Bath and Dry</li></a>
                        <a routerLink="/ourServices"><li class="list-group-item">Styling</li></a>
                      </ul>

            </div>
            <div class="col-md-3">
                <ul class="list-group items">
                    <h6>OUR PRODUCTS</h6>
                       <a routerLink="category/dog"><li class="list-group-item">DOGS</li></a>
                       <a routerLink="category/cat"><li class="list-group-item">CATS</li></a>
                      
                     </ul>

           </div>

           <div class="col-md-3">
            <ul class="list-group items">
                <h6>CONTACT US</h6>
                   <a href="#"><li class="list-group-item">info@petopia.com</li></a>
                   <a href="#"><li class="list-group-item">info@petopia.com</li></a>
                 </ul>

       </div>
        </div>
    </div>

    


</footer>
<div class="social-media">
    <div class="container">
        <div class="row align-items-baseline">
            <div class="col-md-6 Copyright">
                <p>Copyright © <a href="#">My Petopia</a> All Right Reserved.</p>
            </div>
            <div class="col-md-6">
                <ul class="list-group list-group-horizontal-lg justify-content-end">
                    <li class="list-group-item"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    <li class="list-group-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-group-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-group-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  </ul>
            </div>
        </div>
    </div>  
</div>