

<link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">

<section class="container payment col-md-6">
   
    <div class="card">
      <div class="card-header">
        1.Address Detalies
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>Name : {{userData.fName}} {{userData.lName}}</p>
          <p>Address : {{userData.city}}-{{userData.address}}</p>
          <p>Mobile : {{userData.mobile}}</p>
        </blockquote>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header">
        2.delivary method
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <h4>Door Delivary</h4>
          <p><span>deliveried between</span> wednesaday 4 march
            <span> and </span>thursday 5 march <span> for </span><span class="price">{{totalPricePay}}</span></p>
        </blockquote>
      </div>
    </div>
        <div class="pay">
          <h3>How do you like to pay !</h3>
        </div>
        <div class="card ">
          <div class="card-header">
         
              <input type="radio" class="form-radio-input mr-1" id="customControlAutosizing" name="payMethod" [(ngModel)]= 'hoda' value ="credit" (ngModelChange)='undisable(hoda)' >
              <label class="form-radio-label" for="customControlAutosizing">Credit Card</label>
          
          </div>
          
          <div class="card-body">  
            <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" >
              <div class="form-group">
                <label for="exampleInputEmail1">Card Number</label>
                <input type="text" formControlName="CardNumber" class="form-control">
                <div *ngIf="myForm.get('CardNumber').hasError('required')&&myForm.controls.CardNumber.touched"  class="alert alert-danger" role="alert">
                  Card Number  is required
              </div>
              <div *ngIf="myForm.get('CardNumber').hasError('pattern')&&myForm.controls.CardNumber.touched"  class="alert alert-danger" role="alert">
                Card Number  is not valid
            </div>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Card holders name</label>
                <input type="text" class="form-control" formControlName="CardHolders" id="formMethod" >
                <div *ngIf="myForm.get('CardHolders').hasError('required')&&myForm.controls.CardHolders.touched"  class="alert alert-danger" role="alert">
                  Card Holders is required
              </div>
              <div *ngIf="myForm.get('CardHolders').hasError('pattern')&&myForm.controls.CardHolders.touched"  class="alert alert-danger" role="alert">
                Card Holders is not valid
            </div>
              </div>
              <p > Expiry Date </p>
  
              <section class="expireDate">
    
              <div class="form-group">
                <input type="text" class="form-control col-6" formControlName="year" placeholder="Year" >
              </div>
              <div class="form-group">
                <input type="text" class="form-control col-6" formControlName="month" placeholder="month" >
              </div>
              <div class="form-group">
                <input type="text" class="form-control col-6" formControlName="day"  placeholder="day" >
              </div>
            
            </section>
            <div class="form-group form-check" >
              <input type="checkbox" class="form-check-input" formControlName="checkbox">
                <label class="form-check-label" for="exampleCheck1">Save this Data</label>
              </div>
              
            </form>
           
         
            </div>
            <div class="card-header" style="margin-top: 2rem;">
              <input type="radio" class="form-radio-input mr-1" id="exampleCheck1"  name="payMethod"  [(ngModel)]= 'hoda' value ="cash" (ngModelChange)='undisable(hoda)'>
              <label class="form-radio-label" for="exampleCheck1">Cash On Delivery</label>
            </div>
          </div>
          <button type="submit"  [disabled]="myForm.invalid" class="btn btn-primary" routerLink="/">
            Plase Order
            </button>
         </section>
       