<div class="section-galary">
  <div class="row no-gutters"  >


    <div class="col-md-6 card-img hover06">
      <img src="//cdn.shopify.com/s/files/1/2452/7833/files/1_d185937e-cdd7-441e-8ae8-bc8d288de844.jpg?v=1509951684"
        alt="">
      <div class="overlay">
        <div class="text">
          <i class="far fa-eye" data-target="#exampleModalCenter" (click)="openModal(template)"></i>
          <ng-template #template>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body" id="exampleModalCenter">
              <img class="imgModel"
                src="//cdn.shopify.com/s/files/1/2452/7833/files/1_d185937e-cdd7-441e-8ae8-bc8d288de844.jpg?v=1509951684"
                alt=""> </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-md-3 card-img hover06">

      <img src="//cdn.shopify.com/s/files/1/2452/7833/files/5_580c2142-2f4c-4f44-97ac-55960da3cf52.jpg?v=1509511825"
        alt="">
      <div class="overlay">
        <div class="text">
          <i class="far fa-eye" data-target=".bd-example-modal-lg" (click)="openModal(template1)"></i>
          <ng-template #template1>

            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body bd-example-modal-lg">
              <img class="imgModel"
                src="//cdn.shopify.com/s/files/1/2452/7833/files/5_580c2142-2f4c-4f44-97ac-55960da3cf52.jpg?v=1509511825"
                alt="">
            </div>
          </ng-template>

        </div>
      </div>
    </div>
    <div class="col-md-3 card-img hover06">
      <img src="//cdn.shopify.com/s/files/1/2452/7833/files/2_500e162a-aff7-40ed-93b7-ffa312965138.jpg?v=1509511835"
        alt="">
      <div class="overlay hover06">
        <div class="text">
          <i class="far fa-eye" (click)="openModal(template5)"></i>
          <ng-template #template5>

            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">
              <img class="imgModel"
                src="//cdn.shopify.com/s/files/1/2452/7833/files/2_500e162a-aff7-40ed-93b7-ffa312965138.jpg?v=1509511835"
                alt=""> </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-md-3 card-img hover06">
      <img src="//cdn.shopify.com/s/files/1/2452/7833/files/3_b4256090-6480-4856-bff0-6719076ca972.jpg?v=1509511847"
        alt="">
      <div class="overlay">
        <div class="text">
          <i class="far fa-eye" (click)="openModal(template2)"></i>
          <ng-template #template2>

            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">
              <img class="imgModel"
                src="//cdn.shopify.com/s/files/1/2452/7833/files/3_b4256090-6480-4856-bff0-6719076ca972.jpg?v=1509511847"
                alt="">
            </div>

          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-md-3 card-img hover06">
      <img src="//cdn.shopify.com/s/files/1/2452/7833/files/4_aa0ff7b0-7f9d-48b4-901b-5475900d5c1e.jpg?v=1509511857"
        alt="">
      <div class="overlay">
        <div class="text">
          <i class="far fa-eye" (click)="openModal(template3)"></i>
          <ng-template #template3>

            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">
              <img class="imgModel"
                src="//cdn.shopify.com/s/files/1/2452/7833/files/4_aa0ff7b0-7f9d-48b4-901b-5475900d5c1e.jpg?v=1509511857"
                alt=""> </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-md-6 card-img hover06">
      <img src="//cdn.shopify.com/s/files/1/2452/7833/files/6_4678b5ec-52c0-4380-92de-8302a436d06e.jpg?v=1509951697"
        class="img-fluid" alt="">
      <div class="overlay">
        <div class="text">
          <i class="far fa-eye" (click)="openModal(template4)"></i>

          <ng-template #template4>

            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
              <img
                src="//cdn.shopify.com/s/files/1/2452/7833/files/6_4678b5ec-52c0-4380-92de-8302a436d06e.jpg?v=1509951697"
                class="imgModel" alt="">
            </div>
          </ng-template>         
        </div>


