<!-- <p>services works!</p> -->
<section class="services-section">
    <div class="container">
        <div class="header-section  wow fadeInRight">
            <h3> <span> Our </span>Services</h3>
            <p>we love every pet</p>
        </div>
        <div class="row">
            <div class="col-md-5 wow fadeInLeft">
                <img src="//cdn.shopify.com/s/files/1/2452/7833/files/services-2.jpg?v=1510138059" class="img-fluid"
                    alt="">

            </div>
            <div class="col-md-5 offset-md-1">
                <div class="services-decription mb-5 mt-5 wow fadeInRight">
                    <div class="services-wrapper d-flex justify-content-lg-start mb-2">
                        <i class="fas fa-paw"></i>
                        <h4>Full Grooming</h4>
                    </div>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo eos amet qui quis. Soluta</p>

                </div>
                <div class="services-decription mb-5 wow fadeInRight">
                    <div class="services-wrapper d-flex align-items-center justify-content-lg-start mb-2">
                        <i class="fas fa-bath"></i>
                        <h4>Bath & Dry</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo eos amet qui quis. Soluta</p>

                </div>
                <div class="services-decription mb-5 wow fadeInRight">
                    <div class="services-wrapper d-flex justify-content-lg-start mb-2">
                        <i class="fas fa-cat"></i>
                        <h4>Styling</h4>
                    </div>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo eos amet qui quis. Soluta</p>

                </div>
            </div>
        </div>
    </div>
</section>

