<div class="shipping-area">
    <div class="shipping-backgound">
        <div class="container">
            <div class="row wrapper-shpping">
                <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp">
                    <div class="shipping-area__item text-center">
                        <div class="shipping-area__item-desc">
                            <i class="fas fa-car-alt"></i>
                            <h5>FREE SHIPPING</h5>
                            <p>On orders over 300L.E - exclusions apply</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInRight">
                    <div class="shipping-area__item text-center">
                        <div class="shipping-area__item-desc">

                            <i class="fas fa-sync"></i>
                            <h5> MONEY BACK</h5>
                            <p>100% Money-back Guarantee</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInRight">
                    <div class="shipping-area__item text-center">
                        <div class="shipping-area__item-desc">

                            <i class="fas fa-money-check-alt"></i>
                            <h5>Fast Shipping</h5>
                            <p>We will get your package when ever you are</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInLeft">
                    <div class="shipping-area__item text-center">
                        <div class="shipping-area__item-desc">
                            <i class="fas fa-car-alt"></i>
                            <h5>Cash on delivery</h5>
                            <p>You can pay after check</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>