.shipping-area{
    background: url('https://farm4.static.flickr.com/3669/33232279502_893a10b4eb_c.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    // padding-top: 70px;
    // padding-bottom: 70px;
    color: #fff;
    height: 100%;
}
.wrapper-shpping {
    padding-top: 70px;
    padding-bottom: 70px;
}

.shipping-backgound {
    background-color: rgba(38,43,72,.8);
    // height: 100%;

}

.shipping-area p {
    font-size: 13px;
}


.shipping-area__item-desc i {
    margin-right: 8px;
    color: #fff;
    font-size: 30px;
    width: 80px;
    height: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 2.7;
    margin-bottom: 20px;
   
}
.shipping-area__item-desc i:hover {
    transform: rotateY(360deg);
    transition: .5s all;
}
