<div class="section-singleBBlog">
    <div class="section-blog-background">
<div class="container single-blog" *ngIf="postItem">

    <div class="card-wrapper">
    <div class="cards">
        <div class="row">
            <div class="col-md-5 col-sm-12 wow fadeInLeft">
                <img class="card-img-top" src="{{ postItem.img }}" alt="Card image cap">
                </div>
                <div class="col-md-7 col-sm-12 wow fadeInRight">
                    <div class="cards-body">
                <h5 class="card-title">{{postItem.title}}</h5>
                <div class="card-bodys">
                    <p class="lead">{{postItem.description}}</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>